{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "zirra-docker-registry-auth",
    "Key": "index.docker.io/dockerconfig.json"
  },
  "Image": {
    "Name": "<DOCKER_REPOSITORY>:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8080"
    }
  ]
}
